package templates

templ layout(contents templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>go-todos-templ-htmx</title>
			<link rel="stylesheet" href="/assets/css/pico.min.css"/>
			<script src="/assets/js/htmx.min.js"></script>
		</head>
		<body>
			@contents
		</body>
	</html>
}
